body {
  background-color: black;
  color: white;
  margin: 25px 50px;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
}

.button {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #A9A9A9;
	border: none;
	border-radius: 2px;
	padding: 15px;
	margin-right: 25px;
	font-size: 16px;
	cursor: pointer;
}

a.button-link:link{
	color: black;
	text-decoration: none;
}

a.button-link:visited{
	color: black;
}

a:visited{
	color:#9966ff
}


h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;

}

p {

font-family: Verdana, Geneva, sans-serif;

}


.indent-paragraph{
  padding: 0px 25px 25px;
}

.indent-paragraph-no-bottom-space{
  padding: 0px 25px
}

#italic{
  font-style: italic;
}

ul {
  font-family: Verdana, Geneva, sans-serif;
}
